# `.dt` 访问器

* `.dt.year`
* `.dt.month`
* `.dt.day`
* `.dt.hour`
* `.dt.minute`
* `.dt.second`

In [1]:
import pandas as pd

## 1.dt访问器

In [3]:
s1 = pd.Series(pd.date_range("20130101 09:10:12", periods = 4))
s2 = pd.Series(pd.period_range("20130101", periods = 4, freq = "D"))
s3 = pd.Series(pd.timedelta_range("1 day 00:00:04", periods = 4, freq = "s"))
print(s1)
print(s2)
print(s3)
print("-" * 20)

print(s1.dt.year)
print(s1.dt.month)
print(s1.dt.day)
print(s1.dt.hour)
print(s1.dt.minute)
print(s1.dt.second)
print("-" * 20)

print(s2.dt.year)
print(s2.dt.month)
print(s2.dt.day)
print(s2.dt.hour)
print(s2.dt.minute)
print(s2.dt.second)
print("-" * 20)

print(s3.dt.days)
print(s3.dt.seconds)
print(s3.dt.components)
print("-" * 20)

s1[s1.dt.day == 2]

0   2013-01-01 09:10:12
1   2013-01-02 09:10:12
2   2013-01-03 09:10:12
3   2013-01-04 09:10:12
dtype: datetime64[ns]
0   2013-01-01
1   2013-01-02
2   2013-01-03
3   2013-01-04
dtype: object
0   1 days 00:00:04
1   1 days 00:00:05
2   1 days 00:00:06
3   1 days 00:00:07
dtype: timedelta64[ns]
--------------------
0    2013
1    2013
2    2013
3    2013
dtype: int64
0    1
1    1
2    1
3    1
dtype: int64
0    1
1    2
2    3
3    4
dtype: int64
0    9
1    9
2    9
3    9
dtype: int64
0    10
1    10
2    10
3    10
dtype: int64
0    12
1    12
2    12
3    12
dtype: int64
--------------------
0    2013
1    2013
2    2013
3    2013
dtype: int64
0    1
1    1
2    1
3    1
dtype: int64
0    1
1    2
2    3
3    4
dtype: int64
0    0
1    0
2    0
3    0
dtype: int64
0    0
1    0
2    0
3    0
dtype: int64
0    0
1    0
2    0
3    0
dtype: int64
--------------------
0    1
1    1
2    1
3    1
dtype: int64
0    4
1    5
2    6
3    7
dtype: int64
   days  hours  minutes  seconds  milliseconds  microseconds  nanoseconds
0     1      0        0        4             0             0            0
1     1      0        0        5             0             0            0
2     1      0        0        6             0             0            0
3     1      0        0        7             0             0            0
--------------------

1   2013-01-02 09:10:12
dtype: datetime64[ns]

## 2.Time ZOne

* `.dt.tz`
* `.dt.tz_localize()`
    - `UTC`
    - `US/Eastern`
* `.dt.tz_convert()`
    - `UTC`
    - `US/Eastern`

In [6]:
s = pd.Series(pd.date_range("20130101 09:10:12", periods = 4))
print(s)
print()
print(s.dt.tz)
print("-" * 50)

stz = s.dt.tz_localize("US/Eastern")
print(stz)
print()
print(stz.dt.tz)
print("-" * 50)

stz2 = s.dt.tz_localize("US/Eastern").dt.tz_convert("UTC")
print(stz2)
print()
print(stz2.dt.tz)

0   2013-01-01 09:10:12
1   2013-01-02 09:10:12
2   2013-01-03 09:10:12
3   2013-01-04 09:10:12
dtype: datetime64[ns]

None
--------------------------------------------------
0   2013-01-01 09:10:12-05:00
1   2013-01-02 09:10:12-05:00
2   2013-01-03 09:10:12-05:00
3   2013-01-04 09:10:12-05:00
dtype: datetime64[ns, US/Eastern]

US/Eastern
--------------------------------------------------
0   2013-01-01 14:10:12+00:00
1   2013-01-02 14:10:12+00:00
2   2013-01-03 14:10:12+00:00
3   2013-01-04 14:10:12+00:00
dtype: datetime64[ns, UTC]

UTC

## 3.dt.strftime

* `Series.dt.strftime()`

In [3]:
s = pd.Series(pd.date_range("20130101", periods = 4))
print(s)
print()
print(s.dt.strftime("%Y/%m/%d"))
print("-" * 20)

s = pd.Series(pd.period_range("20130101", periods = 4))
print(s)
print()
print(s.dt.strftime("%Y/%m/%d"))

0   2013-01-01
1   2013-01-02
2   2013-01-03
3   2013-01-04
dtype: datetime64[ns]

0    2013/01/01
1    2013/01/02
2    2013/01/03
3    2013/01/04
dtype: object
--------------------
0    2013-01-01
1    2013-01-02
2    2013-01-03
3    2013-01-04
dtype: period[D]

0    2013/01/01
1    2013/01/02
2    2013/01/03
3    2013/01/04
dtype: object