In [1]:
# tools
from fastcore.test import test_fail

# data
from mlforecast.utils import generate_daily_series

# models
from lightgbm import LGBMRegressor

# forecast
from mlforecast import MLForecast

# data

In [2]:
series = generate_daily_series(5)
print(series.head())
print()
print(series.shape)
print()
print(series["unique_id"].value_counts())

  unique_id         ds         y
0      id_0 2000-01-01  0.428973
1      id_0 2000-01-02  1.423626
2      id_0 2000-01-03  2.311782
3      id_0 2000-01-04  3.192191
4      id_0 2000-01-05  4.148767

(1101, 3)

unique_id
id_4    373
id_3    242
id_0    222
id_2    167
id_1     97
Name: count, dtype: int64

# model

In [3]:
fcst = MLForecast(
    models = {"lgb": LGBMRegressor(verbosity = -1)},
    freq = "D",
    date_features = ["dayofweek"],
)
fcst.fit(series)

MLForecast(models=[lgb], freq=D, lag_features=[], date_features=['dayofweek'], num_threads=1)

# forecasting

In [4]:
all_preds = fcst.predict(h = 1)
all_preds

  unique_id         ds       lgb
0      id_0 2000-08-10  3.728396
1      id_1 2000-04-07  4.749133
2      id_2 2000-06-16  4.749133
3      id_3 2000-08-30  2.758949
4      id_4 2001-01-08  3.331394

In [5]:
fcst.predict(h = 1, ids = ["id_0", "id_4"])

  unique_id         ds       lgb
0      id_0 2000-08-10  3.728396
1      id_4 2001-01-08  3.331394

In [8]:
test_fail(
    lambda: fcst.predict(h = 1, ids = ["fake_id"]), 
    contains = "fake_id"
)