In [14]:
import numpy as np
import pandas as pd

from sktime.datasets import load_longley
from sktime.utils.plotting import plot_series
from sktime.forecasting.var import VAR

from sktime.registry import all_estimators

# data

In [12]:
x, y = load_longley()
y.head()

        GNPDEFL       GNP   UNEMP   ARMED       POP
Period
1947       83.0  234289.0  2356.0  1590.0  107608.0
1948       88.5  259426.0  2325.0  1456.0  108632.0
1949       88.2  258054.0  3682.0  1616.0  109773.0
1950       89.5  284599.0  3351.0  1650.0  110929.0
1951       96.2  328975.0  2099.0  3099.0  112075.0

# forecasting

In [13]:
# fh
fh = [1, 2, 3]

# model
forecaster = VAR()
# model fit
forecaster.fit(y, fh = fh)
# model predict
y_pred = forecaster.predict(fh = fh)
y_pred

         GNPDEFL            GNP        UNEMP        ARMED            POP
1963  119.850676  573753.413302  4890.128398  2535.356545  132493.093697
1964  121.468483  596746.410268  5633.310536  2150.219863  134981.099616
1965  124.127716  629948.315304  5881.901495  1855.953946  137613.083699